@import './config';

.App {

    @media (min-width: $smallest) and (max-width: $xsm) {
        .home{
            &-nav {
                &-text {
                    margin: 10px 20px;
                    font-size: 1.2rem;
                }
            }
    
            &-container {
                grid-template-columns: 1fr;
            }
        }
    }

    @media (min-width: $xsm) and (max-width: $sm) {
        
        .home{
            &-nav {
                &-text {
                    margin: 10px 20px;
                    font-size: 1.6rem;
                }
            }

            &-container {
                grid-template-columns: 1fr;
            }
        }
    }

    @media (min-width: $sm) and (max-width: $md) {
        .home {
            &-container {
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }

    @media (min-width: $md) and (max-width: $lg) {
        .home {
            &-container {
                grid-template-columns: repeat(3, 1fr);
            }
        }
    }

    @media (min-width: $lg) {
        .home {
            &-container {
                grid-template-columns: repeat(4, 1fr);
            }
        }
    }
}